body {
  min-height: 100vh;
  background-color: var(--bg-body);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-body);
  color: var(--clr-text);
  font-size: var(--fs-base);
}

.container {
  background-color: var(--bg-recipe);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-7);
  margin: var(--spacing-7);
  gap: var(--spacing-7);
  border-radius: var(--spacing-5);
}

.recipe__header,
.prepation__container,
.ingredients__container,
.instructions__container,
.nutrition__container {
  max-width: 630px;
}

.recipe__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.recipe__img {
  border-radius: var(--spacing-3);
}

.recipe__title {
  color: var(--clr-title);
  font-size: var(--fs-lg);
}

.recipe__title,
.ingredients__title,
.instructions__title,
.nutrition__title {
  font-family: var(--ff-heading);
  font-weight: var(--fw-regular);
}

.recipe__description {
  line-height: 1.3;
}

.prepation__container {
  background-color: var(--bg-accent);
  padding: var(--spacing-6);
  border-radius: var(--spacing-3);
}

.preparation__title {
  color: var(--clr-subtitle-accent);
  font-size: var(--fs-md);
}

.preparation__item,
.ingredients__item,
.instructions__item {
  margin-top: var(--spacing-3);
  padding-left: var(--spacing-4);
  margin-left: var(--spacing-6);
}

.preparation__item::marker {
  color: var(--clr-list-decoration-accent);
  font-size: var(--spacing-3);
}

.preparation__deco {
  font-weight: var(--fw-semibold);
}

hr {
  border-color: var(--clr-border-table);
}

.ingredients__item::marker,
.instructions__item::marker {
  color: var(--clr-list-decoration);
}

.ingredients__title,
.instructions__title,
.nutrition__title {
  color: var(--clr-subtitle);
}

.instructions__item {
  line-height: 1.4;
}

.instructions__item::marker,
.instructions__deco {
  font-weight: var(--fw-semibold);
}

.nutrition__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.nutrition__table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.nutrition__row {
  border-bottom: 1px solid var(--clr-border-table);
}

.nutrition__heading {
  font-weight: var(--fw-regular);
}

.nutrition__data {
  color: var(--clr-table-data);
  font-weight: var(--fw-semibold);
}

.nutrition__heading,
.nutrition__data {
  padding: var(--spacing-3);
}

@media (max-width: 600px) {
  .container {
    margin: 0;
    padding: 0;
    padding-bottom: var(--spacing-7);
    border-radius: 0;
  }

  .recipe__img {
    border-radius: 0;
  }

  .recipe__title,
  .recipe__description,
  .ingredients__container,
  .instructions__container,
  .nutrition__container {
    padding-left: var(--spacing-7);
    padding-right: var(--spacing-7);
  }

  hr {
    width: 80%;
    align-self: center;
  }

  .prepation__container {
    margin-left: var(--spacing-7);
    margin-right: var(--spacing-7);
  }
}
